{% load static %}
<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type = "text/css" href="{% static 'css/styles.css'%}"/>
    <title>Etherium to USD convertor</title>
</head>
<body>
{#submiting form and sending get response to with get_usd function in views.py#}
<form class="form-structor" method="GET" action="{% url 'get_usd'%}">
	<div class="calculator">
		<h2 class="form-title" id="signup">Etherium to USD convertor</h2>
		<div class="form-holder">
{#            input amount of etherium to convert and sending to backend#}
			<input type="text" class="input"  align="center" name="amount" id="amount" placeholder="Amount of Eths"/>
{#              checkbox to verify that it is etherium of Erherium classic#}
            <input type="checkbox"  onchange="document.getElementById('convert').disabled = !this.checked;" id = "eth"/>
            <label for = "eth"> Is it Etherium of Erherium classic?</label>
{#           submission button of form#}
            <button class="submit-btn" id="convert" disabled>Convert</button>
		</div>
{# printing error result#}
        {% if error %}
            <p style="background: white; border-radius: 13px; text-align: center">Error</p>
        {% endif %}
{#    printing result if no error#}
        {% if result %}
            <p style="background: white; border-radius: 13px; text-align: center">{{amount}} Eths = {{ answer }} USD</p>
        {% endif %}
	</div>
</form>
</body>
</html>